/*general styles*/

@font-face {
    font-family: Georgia;
    src: url(../fonts/Georgia.ttf);
}

body {
    font-family: Georgia, serif;
    color: #666666;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.contacts,
.navigation-bar {
    display: flex;
}

.contacts__phone,
.contacts__email,
.navigation__item {
    display: inline-block;
}

.page-header {
    margin: 0;
}

/*header styles*/

.header_style_classiclean {
    padding: 0 20px;
    border-top: 8px solid #ff5d30;
}

/*contacts section styles start*/

.contacts {
    justify-content: flex-end;
    align-items: center;
}

.header__contacts {
    padding: 19px 0;
}

.contacts_style_classiclean {
    font-size: 12px;
}

.contacts__phone {
    margin-right: 6px;
}

.contacts__phone_style_classiclean {
    letter-spacing: 0.8px;
}

.contacts__email {
    padding-left: 5px;
}

.contacts__email_style_classiclean {
    letter-spacing: 0.4px;
    border-left: 1px solid #666666;
}

/*contacts section styles end*/

.navigation-bar {
    justify-content: space-between;
    align-items: flex-start;
}

.navigation-bar_style_classiclean {
    border: solid #999999;
    border-width: 1px 0;
}

.logo__title {
    margin-top: 36px;
}

.logo__title_style_classiclean {
    font-style: italic;
    font-size: 34px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.logo__tagline {
    padding-top: 6px;
}

.logo__tagline_style_classiclean {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.3px;
}

.navigation__list {
    padding: 42px 0;
}

.navigation__item {
    padding-right: 17px;
    margin-left: 17px;
}

.navigation__item_style_classiclean {
    font-size: 14.3px;
    letter-spacing: 1px;
    box-shadow: 4px 0 0 -3px rgba(0,0,0,0.75);
}

.navigation__item_style_classiclean:last-child {
    border: none;
    padding: 0;
    margin-left: 16px;
    box-shadow: none;
}

.navigation__link_style_classiclean {
    text-decoration: none;
    color: inherit;
}

.navigation__item_style_active {
    color: #ff5d30;
}