/*general styles start*/

@font-face {
    font-family: Georgia;
    src: url(../fonts/Georgia.ttf);
}

body {
    font-family: Georgia, serif;
    color: #666666;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper_style_classiclean {
    padding: 0 20px;
    border-top: 8px solid #ff5d30;
}

.contacts,
.navigation-bar,
.services-cards {
    display: flex;
}

.contacts__phone,
.contacts__email,
.navigation__item {
    display: inline-block;
}

.page-header,
.image-wrapper {
    margin: 0;
}

.image-wrapper {
    padding: 0;
    font-size: 0;
}

.page-image {
    width: 100%;
}

.navigation__item_style_active,
.services-cards__heading_style_active {
    color: #ff5d30;
}

.navigation-bar_style_classiclean,
.shout-bar_style_classiclean {
    border: solid #999999;
    border-width: 1px 0;
}

/*general styles end*/

/*header styles start*/

/*contacts section styles start*/

.contacts {
    justify-content: flex-end;
    align-items: center;
}

.header__contacts {
    padding: 19px 0;
}

.contacts_style_classiclean {
    font-size: 12px;
}

.contacts__phone {
    margin-right: 6px;
}

.contacts__phone_style_classiclean {
    letter-spacing: 0.8px;
}

.contacts__email {
    padding-left: 5px;
}

.contacts__email_style_classiclean {
    letter-spacing: 0.4px;
    border-left: 1px solid #666666;
}

/*contacts section styles end*/

/*navigation styles start*/

.navigation-bar {
    justify-content: space-between;
    align-items: flex-start;
}

.logo__title {
    margin-top: 36px;
}

.logo__title_style_classiclean {
    font-style: italic;
    font-size: 34px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.logo__tagline {
    padding-top: 6px;
}

.logo__tagline_style_classiclean {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.3px;
}

.navigation__list {
    padding: 42px 0;
}

.navigation__item {
    padding-right: 17px;
    margin-left: 17px;
}

.navigation__item_style_classiclean {
    font-size: 14.3px;
    letter-spacing: 1px;
    box-shadow: 4px 0 0 -3px rgba(0,0,0,0.75);
}

.navigation__item_style_classiclean:last-child {
    border: none;
    padding: 0;
    margin-left: 16px;
    box-shadow: none;
}

.navigation__link_style_classiclean {
    text-decoration: none;
    color: inherit;
}

/*navigation styles end*/

/*header styles end*/

/*main-content styles start*/

/*services-cards styles start*/

.services-cards {
    justify-content: flex-start;
}

.services-cards__item {
    width: 300px;
    margin: 40px 30px 0 0;
}

.services-cards__item:last-child {
    margin-right: 0;
}

.services-cards__item_style_classiclean {
    background-color: #eaeaea;
}

.services-cards__heading {
    margin: 24px 0 0 19px;
}

.services-cards__heading_style_classiclean {
    font-style: italic;
    letter-spacing: 0.7px;
}

.services-cards__description {
    margin: 25px 0 23px 16px;
    padding-right: 30px;
}

.services-cards__description_style_classiclean {
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
}

/*services-cards styles end*/

/*shout-bar styles start*/

.main-content__shout-bar {
    margin-top: 40px;
}

.shout-bar_style_classiclean {
    background-color: #f0f0f0;
}

/*shout-bar styles end*/

/*main-content styles end*/